{% extends "layout.html" %}

{% block title %}
    FAQ
{% endblock %}

{% block main %}
<body>

<div onclick="myFunction()" class = "faq">
  <h3>How does the game work?</h1>
  <div id = "faq-id" class = "faq-text">
        <p1  >The game is actually quite simple.
        Just go to room and enter your teacher ID and try to answer all the questions correct.
        After the quiz is done u can go to results and see where u can improve your skills.
        </p1>
  </div>
</div>
<div onclick="myFunction2()" class = "faq-2">
  <h3>What makes Facta unique?</h1>
  <div id = "faq-id-2" class = "faq-text">
        <p1>Facta is fully focused on a students progress.
        With Facta you can see the catergories of a subject you still have to work on.
        So Facta doesn't only make learning more fun it also makes it a lot easier.
        </p1>
  </div>
</div>
<script>

document.getElementById("faq").onclick = function() {myFunction()};


function myFunction() {
  document.getElementById("faq-id").classList.toggle("show");
}

document.getElementById("faq-2").onclick = function() {myFunction2()};


function myFunction2() {
  document.getElementById("faq-id-2").classList.toggle("show");
}
</script>
</body>
{% endblock %}
