{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
<div id = "home_box">
    <h1>Welcome to Fakta!</h1>
    <p1>To use Fakta login or make an account if you are new.
    If you are a teacher you can use the make a quiz button to make a quiz for your students.
    As a student u can play this quiz by pressing room and entering your teachers ID.
    After the quiz is done u can look at your personal results or the results of your class if you are a teacher at the results tab.
    For more info take a look at our <a href = "FAQ">FAQ</a> page</p1>
</div>
{% endblock %}