<!doctype html>
<html lang="en">
<head>
  <link rel="stylesheet" href="style_home.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="navbar">
  <div class="dropdown">
    <button class="dropbtn">login</button>
    <div class="dropdown-content">
      <a href="#">Teacher login</a>
      <a href="#">Student login</a>
    </div>
  </div>
  <a href="#news">register</a>
  <div class="right">
    <a href="#home">Home</a>
    <a href="#news">Room</a>
    <a href="#news">Results</a>
  </div>

</div>

</body>
</html>
