<!DOCTYPE html>

<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <link rel="stylesheet" href="static/style_home.css">
        <link href="https://fonts.googleapis.com/css?family=Bangers&display=swap" rel="stylesheet">


        <title>Facta: {% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        {% if session.user_id %}
            <div class="navbar">
                <a href="logout" >Logout</a>
                <div class="right">
                    {% if session.key == "teacher" %}
                    <a href="homepage_2">Make Quiz</a>
                    <a href="result">Results</a>
                    {% elif session.key == "student" %}
                    <a href="result">Results</a>
                    <a href="search">Search</a>
                    {% endif %}

                </div>
            </div>

            <a class = "logo" href="homepage">Facta</a>
        {% else %}
            <div class="navbar">
                <a href="login">Login</a>
                <a href="register">Register</a>
                <div class="right">
                <a href="homepage">Home</a>
            </div>
            </div>
            <a class = "logo" href="homepage">Facta</a>
        {% endif %}


        {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-primary border text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}

        <main class="container p-5">
            {% block main %}{% endblock %}
        </main>


    </body>
    <footer>
        <div class = footer_space>
            <p class = footer_right>Contact: facta@gmail.com</p>
            <p class = footer>Facta 2020</p>
            <p class= faq_link><a href = "FAQ">FAQ</a>
        </div>
    </footer>

</html>
