<!DOCTYPE html>

<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <link rel="stylesheet" href="static/style_home.css">
        {% if request.endpoint == 'quiz' %}
            <link href="{{ url_for('static', filename='style_quiz.css') }}" rel="stylesheet" type="text/css">
        {% elif request.endpoint == 'another' %}
                <link href="{{ url_for('static', filename='another.css') }}" rel="stylesheet" type="text/css">
        {% endif %}

        <title>Facta: {% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        {% if session.user_id %}
            <div class="navbar">
                <a href="" >logout</a>

                <div class="right">
                    <a href="index">Home</a>
                    <a href="room">Room</a>
                    <a href="result">Results</a>
                </div>
            </div>
        {% else %}
            <div class="navbar">
                <div class="dropdown">
                    <button class="dropbtn">login</button>
                    <div class="dropdown-content">
                        <a href="login">Teacher login</a>
                        <a href="login">Student login</a>
                    </div>
                </div>
                <a href="register">register</a>
                <div class="right">
                    <a href="student_index">Home</a>
                    <a href="room">Room</a>
                    <a href="result">Results</a>
                </div>
            </div>
        {% endif %}


        {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-primary border text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}

        <main class="container p-5">
            {% block main %}{% endblock %}
        </main>


    </body>

</html>
