<!DOCTYPE html>

<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="style_home.css">
    </head>

        <title> Fakta: {% block title %}{% endblock %}</title>

    </head>

    <body>

      <ul class="nav">
        <li class="nav-li"><a class="li-a" href="zuu.html">Room</a></li>
        <li class="nav-li"><a class="li-a" href="ta13oo.html">Results</a></li>
        <li class="nav-li"><a class="li-a" href="imperial.html">About</a></li>
        <li class="nav-log"><a class="li-a" href="32-zel.html">Register</a></a></li>
        <li class="nav-log"><a class="li-a" href="index.html">Login</a></li>
      </ul>


    </body>

</html>
