{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <h1>{{ error_message }}</h1>
    <div class = "rounded">
        <div class="accountfield">
    <form class = "login" action="/login" method="post">
        <div class="form-group">
            <select class="form-control" name="role">
                <option disabled selected value="role">Role</option>
                        <option name="role" value="teacher">Teacher</option>
                        <option name="role" value="student">Student</option>
            </select>
        </div>
        <br>
        <div class="form">
            <input name="username" placeholder="Username" type="text">
        </div>
        <br>
        <div class="form">
            <input name="password" placeholder="Password" type="password">
        </div>
        <br>

        <button class="button_login">Log In</button>
        </div>
    </form>
    </div>
</div>
</div>
<script>

window.addEventListener('load', function() {
  var role = window.location.search.split('=')[1].split(',');
  if (role) {
    document.getElementById('selectRole').value = role;
  }
});

</script>
</body>
{% endblock %}
