{% extends "layout.html" %}

{% block title %}
    room
{% endblock %}

{% block main %}
        <form class = "search" action="/room" method="POST">
        <div class="form">
            <input name="search" placeholder="Search teacher room" type="text">
        </div>
        <button class="button_login">Search</button>
        </form>
        </div>


    <form action="/room" method="GET">
        {% for quizes in room_quizes %}
          <button><a href="quiz">{{quizes}}</a></li>
        {% endfor %}
    </form>
{% endblock %}