{% extends "layout.html" %}

{% block title %}
    room
{% endblock %}

{% block main %}
<<<<<<<<< saved version
        <form class = "search" action="/room" method="POST">
        <div class="form">
            <input name="search" placeholder="Search teacher room" type="text">
        </div>
        <button class="button_login">Search</button>
        </form>
        </div>


=========

>>>>>>>>> local version
    <form action="/room" method="GET">
        {% for quizes in room_quizes %}
         <a class="room" href="quiz">{{quizes}}</a>
        {% endfor %}
    </form>
{% endblock %}