{% extends "layout.html" %}

{% block title %}
    room
{% endblock %}

{% block main %}
<<<<<<<<< saved version
        <form class = "search" action="/room" method="POST">
        <div class="form">
            <input name="search" placeholder="Search teacher room" type="text">
        </div>
        <button class="submit">Search</button>
        </form>


    <form action="/quiz" method="GET" style="height:250px">

            <select name= "dropdown">
              {% for quizes in room_quizes %}
              <option value="{{quizes}}">{{quizes}}</option>
                {% endfor %}
            </select>
            <input type="hidden" name="name" value="name">
            <button class="submit">Start</button>

    </form>

{% endblock %}