{% extends "layout.html" %}

{% block title %}
    Teacher index
{% endblock %}

{% block main %}

Hallo ik ben een leraar
    <p> Maak een quiz aan</p>

     <form action="/" method="post">
        <div class="form-group">
            <input class="form-control" name="name" placeholder="Quiz name" type="text">
        </div>

    <form action="/" method="post">
        <div class="form-group">
            <input class="form-control" name="username" placeholder="username" type="text">
        </div>


    <form action="/" method="post">
        <div class="form-group">
            <input class="form-control" name="questions" placeholder="Amount of questions" type="number" min="1" max="50">
        </div>

    <form action="/" method="post" onsubmit="function(event){ event.preventDefault();}">
        <div class="form-group">
            <select class="form-control" name="difficulty">
                <option disabled selected value="difficulty">Difficulty</option>
                        <option value="easy">Easy</option>
                        <option value="medium">Medium</option>
                        <option value="hard">Hard</option>
            </select>
        </div>

    <form action="/" method="post" onsubmit="function(event){ event.preventDefault();}">
        <div class="form-group">
            <select class="form-control" name="category">
                <option disabled selected value="category">Category</option>
                {% for cat in categorie %}
                  <option value="{{cat}}">{{cat}}</option>
                {% endfor %}
            </select>
        </div>

    <form action="/" method="post" onsubmit="function(event){ event.preventDefault();}">
        <div class="form-group">
            <select class="form-control" name="type">
                <option selected value="multiple_choice">Multiple choice</option>
            </select>
        </div>
            <button class="btn btn-primary" type="submit">Create quiz</button>
    </form>

{% endblock %}